/* http://getbem.com/naming/ */

.table {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 1;
}

.working-container {
  display: grid;
  grid-template-columns: 7;
  grid-template-rows: 1;
}

.card {
  display: block;
}