/* http://getbem.com/naming/ */

* {
  font-family: Arial;
}

body {
  margin: 0;
}

.game {
  display: grid;
  grid-template-columns: 5rem 4fr 5rem;
  grid-template-rows: 1;
}

.game__stock-cloth, .game__working-cloth, .game__foundation-cloth {
  display: grid; 
}

.game__stock-cloth, .game__foundation-cloth {
  background-color: #205314;
}

.game__stock-cloth, .game__foundation-cloth {
  padding: 0.4em 0;
  grid-template-columns: 1;
  place-items: center;
}

.game__stock-cloth__revealed-cards {
  display: contents;
}

.game__working-cloth {
  background-color: #297817;
  display: grid;
  grid-template-columns: 1;
}

.game__working-cloth__piles {
  display: grid;
  grid-template-columns: 7;
}

.card.red {
  color: red;
}

.card {
  background-color: #ffffff;
  width: 2.5rem;
  height: 3.5rem;
}

.card, .card--face-down, .deck {
  margin: 0.3rem;
  border-radius: 0.3125rem;
  box-shadow: 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.2);
}

.card--face-down, .deck {
  background-color: #27539b;
  border: 0.15rem solid rgba(255, 255, 255, 0.1);
}

.card--face-down {
  width: 2.35rem;
  height: 3.35rem;
}

.deck {
  width: 2.3rem;
  height: 3.3rem;
  border: 0.2rem solid rgba(255, 255, 255, 0.1);
}

.card__top-left, .card__bottom-right {
  text-align: center;
  position: relative;
  width: 40%;
  line-height: 100%;
  font-size: 0.8rem;
}

.card__top-left {
  top: 6%;
  left: 2%;
}

.card__bottom-right {
  transform: rotate(180deg);
  bottom: 0.28rem;
  right: -1.85em;
}

.card__corner-suit {
  height: 0.88125rem;
  width: 0.6rem;
}